<a class="titulo">tic tac toe...</a>
<b>{{ActualPlayer}} {{roundcount}}</b>
<ul *ngIf="roundcount == 9 || end == true">{{result_match}}</ul>

<div class="linhaUM">
  <button (click)="movement(0)" class="quadradinho">{{square[0]}}</button>
  <button (click)="movement(1)" class="quadradinho">{{square[1]}}</button>
  <button (click)="movement(2)" class="quadradinho">{{square[2]}}</button>
</div>

<div class="linhaDOIS">
  <button (click)="movement(3)" class="quadradinho">{{square[3]}}</button>
  <button (click)="movement(4)" class="quadradinho">{{square[4]}}</button>
  <button (click)="movement(5)" class="quadradinho">{{square[5]}}</button>
</div>

<div class="linhaTRES">
  <button (click)="movement(6)" class="quadradinho">{{square[6]}}</button>
  <button (click)="movement(7)" class="quadradinho">{{square[7]}}</button>
  <button (click)="movement(8)" class="quadradinho">{{square[8]}}</button>
</div>

<button (click)="reset()" class="reset">Reset</button>
<div></div>